<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gender Prediction Result</title>
    <link rel="stylesheet" href="/styles/name.css">
</head>
<body>
    <div class="result-container">
        <h1>Gender Prediction</h1>
        <div class="result">
            <p><strong>Name:</strong> <%= name %></p>
            <p><strong>Gender:</strong> <%= gender %></p>
            <p><strong>Accuracy:</strong> <%= probability %></p>
            <p><strong>Total People With Same Name:</strong> <%= count %></p>
        </div> 
    </div>
</body>
</html>
