/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('/images/index.jpg');
    background-size: cover;
    background-color: #f0f4f8;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.result-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(5, 1, 1, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #0c3b6d;
}

.result p {
    font-size: 1.2rem;
    margin: 10px 0;
}

.result strong {
    color: #14eb46;
}

.result-container .result {
    background-color: #f9fafb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
}

.result p:nth-child(odd) {
    background-color: #f1f3f5;
    padding: 10px;
    border-radius: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    .result p {
        font-size: 1rem;
    }
}
